.headingSubheadingContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    flex-direction: row-reverse;
    color: #051B46;
    &.active {
        border-bottom: 2px solid #1859B4; // Add a blue border to the active item
      }
}

.headingText {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.subHeadingText {
    font-weight: 400;
    font-size: 24px;
    line-height: 17px;
    color: #051B46;
}