@import "../../../common/styles/variables.scss";

.header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  position: sticky;
  top: 0;
  z-index: 999;

  .appIconSection {
    display: flex;
    align-items: center;
    column-gap: 12px;
    max-width: 400px;
    width: 100%;
    cursor: pointer;

    .appTitle {
      color: $mahatriaName;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      font-family: $natoSansRegular;
    }
  }

  .mahatriaDots {
    display: flex;
    align-items: center;
    justify-content: center;
    // height:62px;
    width: 14px;

  }

  .profileSection {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;

    .profileIcon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      // margin-right: 8px;
    }

    .profileDropdownButton {
      background-color: #fff;
      text-align: center;
      border: unset;
      display: flex;
      align-items: center;
      cursor: pointer;

      .profileDropdownTitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: rgba(5, 27, 70, 1);
      }
    }
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  width: 100%;

  .containerNames {
    color: $darkBlue;
    text-transform: capitalize;
    text-align: left;


    .userNameEcllipse {
      font-size: 14px;
      font-weight: 600;
      margin: 0px;
      line-height: 24px;
      width: 137px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .roleName {
      margin: 0px;
      line-height: 24px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.userName {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  line-height: 26px;
  color: $mahatriaName;
  font-family: $natoSansRegular !important;
  letter-spacing: 0.4px;
  // width: 85px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}