// declare all custom fonts here
// check below example

@font-face {
    font-family: "NatoSans-Regular";
    src: url("../../assets/fonts/NotoSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
