// @import "./font.scss";
$natoSansRegular: "NatoSans-Regular";


$darkBlue: #051B46;
$blue :#1859B4;
$gray:#888;
$white:#fff;
$red:red;
// $natoSansRegular: "NatoSans-Regular";
$blackBlue: #051B46;
$mahatriaName: #D9251D;
$textGrey: #888888;
$tableBorder: #E7EEF3;
$lineSeparator: #A5A5A5;
$anchorTag: #1859B4;
$white: #fff;
$lightGrey: #D9D9D9;
