@import "../../common/styles/variables.scss";

.checkboxesContainer,
.radioButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  // gap: 94px;
  font-family: $natoSansRegular;
}

.radioButtonsContainer {
  gap: 158px;
}

.levelContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: $natoSansRegular;
}

.overAllLevelContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $natoSansRegular;
}

.overAllFloorLevelContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  // border-bottom: 1px solid #bfbfbf;
  // padding-bottom: 14px;
  font-family: $natoSansRegular;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $natoSansRegular;
  background-image: url("../../assets/images/filterBackground.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 158% 66%;
  padding: 10px 10px 4px 10px;

}

.personLevelContainer,
.floorLevelContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: $natoSansRegular;
  // margin-top: 20px;
}

.personLevelContainer {
  margin-top: 20px;
}

.levelHeading {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: $darkBlue;
  font-family: $natoSansRegular;
  // text-decoration: underline;
}

.heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: $darkBlue;
  letter-spacing: 0.5px;
  font-family: $natoSansRegular;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-family: $natoSansRegular;
  align-items: center;
  // margin-right: 30px;
  margin-top: 3px;

}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.filtersHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.buttonContainer {
  color: white;
  // width: 158px;
  height: 40px;

  padding: 7px 54px 7px 53px !important;
}

.buttonContainerText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.buttonCancel {
  background-image: none !important;
  color: #1859b4;
  font-size: 16px;
  cursor: pointer;
}

.closeIcon {
  cursor: pointer;
}