.button,
.signUpSection2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 7px 24px;
  background-color: transparent;
  width: 150px;
  border-radius: 99px;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  background-image: url("../../assets/images/button13x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 150px;
  white-space: nowrap;
}
.signUpSection2 {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
}

.textIcon {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:4px;
  }
  .icons3 {
    height: 24px;
    width: 24px;
    position: relative;
    display: none;
    min-height: 24px;
  }

  .weWillSendContainer {
    flex: 1;
    position: relative;
    line-height: 24px;
  }
  .digit {
    font-weight: 600;
  }

  .sendOtp {
    flex: 1;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--title-regular);
    color:#fff;
    text-align: center;
  }