@import "../../styles/variables.scss";

.bgImageIcon {
  width: 100%;
  height: 100%;
  // margin: 0 !important;
  top: 0;
  right: 100;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  @media (max-width: 1024px) {
    display: none;
}
}
.bgImageIconn {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    width: 175%;
    position: absolute;
    right: 0px;
}}



.entrainmentLogo{
  font-size: 16px;
  width: 448px;
  height: 109px;
  position: absolute;
  margin: 0 !important;
  top: 306px;
  left: 83px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.icons,
.signIn {
  position: relative;
}
.signIn {
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  // min-width: 61px;
  margin-top: 22px;
}
.icons {
  width: 24px;
  height: 24px;
  display: none;
}
.formFields,
.signUpContainer,
.signUpSection1 {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.formFields,
.signUpSection1 {
  align-self: stretch;
  align-items: center;
  gap: 40px;
}
.formFields{
  margin-top: -75px;
  // margin-left: 10px;
}
.signUpSection1 {
  // align-items: flex-start;
  gap: 50px;
}
.info {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.sendOtp {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-family: $natoSansRegular;
  color: #fff;
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 7px 24px;
  background-color: transparent;
  width: 150px;
  border-radius: 99px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // background-image: url(/public/button@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 150px;
  white-space: nowrap;
}
.icons1 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  min-height: 24px;
}
.resetPassword {
  color: #1859b4;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.forgotPasswordResetContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.textIcon {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: 4px;
  max-width: 100%;
}
.cards,
.signUpSection2 {
  flex-direction: column;
  max-width: 100%;
}
.signUpSection2 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}
.cards {
  width: 400px;
  box-shadow: 0 10px 50px rgba(232, 241, 249, 0.8);
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 30px 29px;
  min-height: 500px;
  z-index: 1;
  margin-top: -36px;
}
.cards,
.cardsWrapper,
.organisationLandingPage {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.cardsWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  max-width: 100%;
  // margin-right: 90px;
  // margin-top: -60px;
}
.organisationLandingPage {
  // position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: 109px;
  height:calc(100vh - 70px);
  // min-height: 768px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  color: #051b46;
  font-family: $natoSansRegular;
  align-items: flex-end;
  position:absolute;
  background-image: url(../../../assets/images/login-bg.webp);
}
.text {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 106px;
}
.input,
.text {
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.text {
  min-width: 106px;
  margin-bottom: 6px;
}
.input {
  width: 100%;
  // height: 100%;
  border: 0;
  outline: 0;
  // font-family: 'Noto Sans';
  font-size: 16px;
  background-color: transparent;
  // height: 26px;
  color: #051b46;
  // text-align: center;
  white-space: nowrap;
  padding: 5px 12px;
  font-family: $natoSansRegular;
}

.form,
.formContainer, .formContainerPassword {
  display: flex;
  justify-content: flex-start;
}
.formTag {
  width: 100%;
  margin-top: 30px;
}
.fieldGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:8px;
  max-width: 320px;
}
.fieldGroupPassword{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:8px;
  max-width: 320px;
  margin-top: 12px;
}

.error {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #E28619;
  font-size: 12px;
}
.submitButton {
  color: white;
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 24px;
  // margin-top: 40px;
}
.forgotPassword {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.buttonContainer {
  margin-top: 40px;
}
.formContainer {
  align-self: stretch;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #8a8a8a;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  height: 40px;
  // padding: 5px 12px;
  // margin-bottom: 40px;
  margin-top: -5px;
}
.form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 320px;
  text-align: left;
  font-size: 16px;
  color: #051b46;
}
.eyeIcon{
  margin-right: 10px;
  cursor: pointer;
}
.entrainmentLogos{
  display: none;
}
@media screen and (max-width: 450px) {
  .form {
    max-width: 100%;
  }
}
@media screen and (max-width: 725px) {
  .organisationLandingPage {
    gap: 54px;
  }
}
@media screen and (max-width: 650px) {
  .cards {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .formFields {
    gap: 20px;
  }
  .organisationLandingPage {
    gap: 27px;
  }
}
.errorCreds {
  margin-top: 10px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  color: #E28619;
  margin-top: 8px;
  font-size: 12px;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset; /* Set your desired color here */
  -webkit-text-fill-color:#051B46;
}

@media screen and (max-width: 1024px) {
  .organisationLandingPage{
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .cardsWrapper{
    width:89.5%;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

  .cards {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-height: 450px;
    align-items: center;
    margin-top: 56px;
  }
  .buttonContainer {
    margin-top: 30px;
  }
  .signUpSection2{
    display: none;
  }
  .entrainmentLogos{
    width: 250px;
    padding: 30px 29px;
    display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  }
}