// .MuiBackdrop-root{
//     opacity: 0;
// }
// .container{
//     border-radius: 1px;
//     border: 1px solid var(--Stroke-Grey-2, #D9D9D9);
//     background: #FFF;
//     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
// }
.notification{
    display: flex;
    align-items: center;
    display: flex;
}
.image{
    width: 50px;
    height: 50px;
}
.emptydiv{
    width: 50px;
}
.titleHeader{
    font-size:14px;
    font-weight: 600;
    line-height: 26px;
    color: #000000;
    font-family: 'Noto Sans';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.nameClass{
    width:182px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}