@import "../../styles/variables.scss";
.draggableItem{
    // border: 1px solid black;
    border-radius: 8px;
    display: flex;
    width: 340px;
    padding: 16px 8px 16px 16px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}
.programName{
    color:$darkBlue;
font-size: 14px;
font-weight: 600;
line-height: 24px;
}
.programDetails{
    display: flex;
    gap: 8px;
    align-items: center;
    span{
    color:$darkBlue;
    font-size: 14px;
    font-weight: 400;
    }
}
.content{
    display: flex;
    gap: 20px;
}
.line{
    width: 1px;
    height: 12px;
    border: 1px solid rgba(112, 112, 112, 0.50);;
}